/* Colors and Styles (Default) */
:root{
    --primary-color: hsl(94, 59%, 35%);
    --HoverColor: #bdf094;
    --paleGreen: hsl(96, 75%, 89%);
    --whiteColor:hsl(0, 0%, 100%);
    --blackColor:hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --bgColor: hsl(220, 10%, 94%);
    --greyText: rgb(190, 190, 190);
    --inputColor:hsl(330, 12%, 97%);
    --itemCardColor:hsl(320, 5%, 88%);
    --itemCardHover:hsl(320, 27%, 87%);

    /* Font and Typography */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3fontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}


.listingSection{
    flex-basis: 100%;
    margin-top: 1rem;

    .handing{
        width: 100%;
        justify-content:space-between;

        h1{
            font-size: var(--h1FontSize);
            color: var(--blackColor);
            font-weight: 700;
        }

        .btn{
            border: 1px solid transparent;
            font-weight: 500;
            color: #70ee0a !important;
        }

        .btn:hover{
            border: 1px solid var(--primary-color);
        }
    }

    .secContainer{
        width: 100%;
        margin: 1rem 0;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content:space-between;

        .singleItem{
            position: relative;
            width: 200px;
            height: 200px;
            display:flex;
            align-items: center;
            flex-direction: column;
            padding:1rem;
            border-radius: 10px;
            background: var(--itemCardColor);

            &:hover{
                background: var(--itemCardHover);
                box-shadow: 0 2px 2px var(--inputColor);
            }

            img{
                max-width: 200px;
            }

            .icon{
                position: absolute;
                top: 5px;
                right: 0px;
                color: var(--primary-color);
            }

            h3{
                font-size: var(--h3FontSize);
                color: var(--blackColor);
                padding: 1rem 0;
            }
        }
    }

    .sellers{
        width: 100%;
        justify-content: space-between;
        gap: 1rem;
        align-items: flex-start;

        .topSellers, .featuredSellers{
            .heading{
                padding: 1rem 0;

                .btn{
                    padding: .5rem  1rem;
                }
            }

            .card{
                padding: 1rem 1.5rem;
                border-radius: 1rem;
                background: var(--whiteColor);
                gap: 1rem;
                box-shadow: 0 2px 4px var(--inputColor);

                .users{
                    padding-right: 1rem;
                    border-right: 2px solid var(--greyText);

                    img{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        object-fit: cover;
                        border: 2px solid var(--inputColor);
                        transition: .5s ease;

                        &:hover{
                            transform: translateY(-10px);
                        }
                    }
                }

                .cardText{
                    span{
                        color: var(--blackColor);
                        font-weight: 500;


                        small{
                            font-weight: 400;
                            .date{
                                margin-left: 1rem;
                            }

                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .heading h1 {
        font-size: 1.5rem;
    }

    .btn{
        font-size: 0.9rem;
        padding: 6px 12px;
    }


      .secContainer {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }

      .sellers{
        flex-direction: column;
      }

      .singleItem img {
        height: 150px;
      }

      .users img {
        width: 35px;
        height: 35px;
      }

      .card {
        flex-direction: column;
        align-items: flex-start;
      }

      .sideBarCard{
        width: 100% !important;
        padding: 0;
        text-align: center;
        position: relative;
        margin-top: 5rem;

        .icon{
            position: absolute;
            background: var(--HoverColor);
            border: 10px solid var(--whiteColor);
            font-size: 3rem;
            border-radius: 50%;
            top: -8px;
            right: 50%;
            transform: translate(50%);
            z-index: 100;
        }

        .cardContent{
            position: relative;
            padding: 1rem;
            background: var(--HoverColor);
            border-radius: 10px;
            overflow: hidden;

            h3{
                font-size: var(--h3FontSize);
                margin-top: 1rem;
                padding: 1rem 0;
                font-weight: 800;
                color: var(--blackColor);
            }

            p { font-size: var(--normalFontSize);
                color: var(--textColor);
                padding-bottom: 1rem;
                font-weight: 500;

            }

            .btn{
                position: relative;
                color: var(--textColor);
                z-index: 1000;
      }
      .circle1,
      .circle2 {
          position: absolute;
          background: var(--paleGreen);
          border-radius: 50%;
          opacity: .7;
      }

      .circle1 {
          height: 100px;
          width: 100px;
          top: -50px;
          left: -50px;

      }

      .circle2 {
          height: 150px;
          width: 150px;
          bottom: -80px;
          right: -70px;
          z-index: 1;

      }


      }
      }}